body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

.orange-color{
    color: orange;
}

.flex-container{
    display: flex;
    margin-bottom: 120px;
}

.half-width{
    width: 50%;
    padding-left: 4%;
}

.half-width img{
    padding-top: 7%;
    width: 80%;
}

.link-button{
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 15px;
    background-image: linear-gradient(rgb(255, 94, 54), orange);
    color: white;
    font-weight: 700;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.second-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.right-pad{
    padding-right: 150px;
}
.experience-unit{
    box-shadow: 10px 10px 20px gray;
    width: 50%;
    margin-left: 6%;
    margin-right: 5%;
    padding-left: 20px;
}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#expo-unit1{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#expo-unit2{
    border-left: 7px solid;
    border-image: linear-gradient(tomato, orange);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}